<?xml version='1.0' encoding='utf-8'?><widget id="at.emathinger.radio" version="2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Radio Burgenland</name>
    <description>radio livestream player</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Paul Em</author>
    <content src="plugins/cordova-plugin-chrome-apps-bootstrap/chromeapp.html"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    <icon src="www/images/logos/bgl-128-round.png"/><icon src="www/images/logos/bgl-16.png" width="16"/><icon src="www/images/logos/bgl-128-round.png" width="128"/></platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    <icon src="www/images/logos/bgl-128-round.png"/><icon src="www/images/logos/bgl-16.png" width="16"/><icon src="www/images/logos/bgl-128-round.png" width="128"/></platform>
<preference name="android-minSdkVersion" value="14"/><access origin="http://hop.orf.at/*"/><access origin="http://tube.orf.at/*"/><access origin="http://194.232.200.146:8000/*"/></widget>